estilo.css

* { margin:0; padding: 0; box-sizing: border-box;}

body {
    background-color: #F5E1CE;
}


a {
    text-decoration: none;
}

.navbar {
    padding: .5rem 1rem;
    background-color: #A60D66;
    text-align: center;
    font-family: 'Martel', serif;
    text-transform: uppercase;
}

nav ul li {
    display: inline-block;
  
}

.portada {
    background-image: url("../optimizado/emily-principal.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover;
    text-align: center;

    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    height: 380px;
    align-items: center;
    
}

.portada2 {
    background-image: url("../optimizado/lucyjulien.opt.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover;
  
    text-align: center;

    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    height: 299px;
    align-items: center;
    
}

.portada3 {
    background-image: url("../optimizado/ROPA.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover;
    
    text-align: center;

    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    height: 301px;
    align-items: center;
}
.portada4 {
    background-image: url("../optimizado/locaciones.opt.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover;
    
    text-align: center;

    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    height: 299px;
    align-items: center;
}

.portada5 {
    background-image: url("../optimizado/portadagaleria.opt.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover;
    
    text-align: center;

    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    height: 299px;
    align-items: center;
}
.portada6 {
    background-image: url("../optimizado/contactoft.jpg"); 
    background-repeat: no-repeat; 
    background-size: cover;
  
    text-align: center;

    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    height: 299px;
    align-items: center;
    
}
header ul li a {
    color: white;
    font-size: 1.2rem;
    padding-right: 4rem;
}

header a:hover {
    color:#F5E1CE;
}



section {
    max-width: 1300px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

.png {
    justify-content: center;
    position: absolute;
    left: -100px;
    top: -78px;
}


.button3 {
    background-color: #A60D66;
    color: white;
    padding: 15px 24px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    left: -231px;
    top: -116px;
    position: relative;
}

.button3:hover {
    background-color:#79345c; 
    color: white;
}

.plot {
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    width: 30%;
    
    margin-top: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    margin-left: 83px;
    text-align: justify;
}

.item {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-bottom: 4%;
    position: relative;
} 

.contenedor2 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    height: 550px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    background-image: url("../optimizado/torre-eiffel2.opt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.plot2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 49%;
    font-size: 19px;
    text-align: justify;
}
    


.button {
    background-color: #A60D66;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 1%;
}

.button:hover {
    background-color:#79345c; 
    color: white;
}

.enlinea {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.enlinea div {
    width: 25%;
    padding: 2%;
    text-align: center;
    margin-bottom: 2rem;
}
   
.enlinea div a img {
    width: 100%;
    /*margin-bottom: 2rem;*/
}


h3 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 18px;
    margin-top: 8px;
    align-items: center;
}

h4 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: white; 
    text-align: center;
}

footer ul a img {
    max-width: 2rem;
    width: 100%;
    height: auto;
    margin: 4px;
}

footer nav ul li a {
    color: #A60D66;
    font-size: 1.1rem;
    padding: 0.5rem;
    
}

body footer ul {
    padding: 0%;
}


footer a:hover {
    color:black;
}

.creditos {
    color: #A60D66;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: -16px;
}

.letra2 {
    font-family: 'Martel', serif;
    color: #A60D66;
    text-transform: uppercase;
}

.contenedor3 {
    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    height: 440px;
    align-items: center;
    background-image: url("../optimizado/emilyestudio2.opt.jpg");
    background-repeat: no-repeat;
}

.contenedor4 {
    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    height: 440px;
    align-items: center;
    background-image: url("../optimizado/desfile2.opt.jpg");
    background-repeat: no-repeat;
    margin-top: 1%;
}

.galeria {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.galeria div {
    padding: 2%;
    text-align: center;

}

.contenedor5 {
    margin-top: 5%;
    display: flex;
    text-align: left;
}

.contenedor5 div {
    width: 50%;
}

.contenedor5 div form {
    text-align: left;
    margin-left: 275px;
}

.contenedor5 div img {
    width: 50%;
    margin-bottom: 2em;

}

.button2 {
    background-color: #A60D66;
    color: white;
    padding: 11px 20px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 1%;
    margin-top: 34px;
}

.button2:hover {
    background-color:#79345c; 
    color: white;
}

input {
    padding: 5px;
    margin-bottom: 26px;
    width: 265px;
}

label {
    font-family: 'Poppins', sans-serif;
}

textarea {
    width: 271px;
}

.icon {
    display: none;
}








@media screen and (max-width: 480px) {

    .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
        content: "\f0c9";
        color: white;
    }

    header {
    flex-wrap: wrap;
    }

    nav ul {
        display: none;
    }

    .icon { 
        display: block; 
        text-align: left;
    }

    header a {
        flex: 1 0 50%;
    }

    header nav {
        flex-basis: 100%;
    }

    nav.responsive ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: justify;
    }

    #navegador ul li {
        margin: 6px;
    }

    header ul li a {
        font-size: 1rem;
        margin-left: -15px;
    }
    

    section {
        max-width: 480px;
        width: 100%;
    }

    #height {
        height: 250px;
    }
    
    .max-width {
        max-width: 300px;
    }

    .contenedor {
        display: flex;
        flex-direction: column; 
    }

    .plot {
        font-size: 15px;
        width: 50%;
        margin-top: 1px;
        margin-left: 30%;
    }

    .item {
        display: inline-block;
        text-align: center;
        margin-bottom: 4%;
        margin-left: 3px;
    } 

    .item a img {
        max-width: 200px;
    }

    .png {
        left: 21px;
        top: -72px;
        max-width: 150px;
    }
    
    
    
    .contenedor2 {
        width: 100%;
        height: 500px;
        margin-top: 30px;
    }
    
    .contenedor2 div {
        padding: 0px;
    }
    
    .contenedor2 img {
        margin-bottom: 0px;
    
    }

    .plot2 {
        width: 60%;
        font-size: 15px;
        text-align: justify;
    }
    
    .button {
        padding: 12px 20px;
    }


    .enlinea {
        display: block;
        margin-top: 1%;
        justify-content: center;
        text-align: center;
        margin-top: 1em;
    }
    
    .enlinea div {
        width: 100%;
        justify-content: center;
    }
       
    .enlinea div a img {
        margin-bottom: 1em;
        max-width: 15rem;
    }

    .contenedor3 {
        height: 300px;
    }
    
    .contenedor4 {
        height: 300px;
        margin-top: 2%;
    }

    .contenedor3 div img {
        max-width: 300px;
        height: 60px;
    }

    .contenedor4 div img {
        max-width: 300px;

    }

    .galeria div a img {
        max-width: 35%;
    }

    .contenedor5 div {
        width: 50%;
        padding: 2%;
        padding-top: 32px;
        padding-bottom: 25px;
    }
    
    .contenedor5 div img {
        width: 100%;
        margin-bottom: 2em;
    }

    .contenedor5 div form {
        text-align: left;
        margin-left: 5px;
    }

    label {
        font-size: 14px;
    }
    
    textarea {
        width: 198px;
    }

    .button2 {
        padding: 8px 13px;
        font-size: 12px;
        margin-top: 26px;
    } 

    input {
        width: 190px;
    }
        
    
    
    footer {
        height: 150px;
        align-items: normal;
    }
    
    footer ul a img {
        max-width: 1rem;
        margin: 3px;
       
    }

    footer nav ul li a {
        font-size: 0.6rem;
        padding: 0.3rem;              
    }

    body footer nav ul {
        padding-left:16PX;
    }
    
    .creditos {
        font-size: 14px;
        padding-bottom: 17px;
    }

    footer p {
      margin: 5px;
    }


    .letra2 ul {
        display: inline-block;
        font-size: 5px;
    }

    body footer ul {
        margin: 9px;
    }
   
}


    